%html
  %head
    %title Restaurants
    = stylesheet_link_tag    "restaurants", :media => "all"
    = javascript_include_tag "restaurants"
    = csrf_meta_tags
  %body
    .treasure1
      .text
        = @restaurants.first.name
        = @restaurants.first.address
    .treasure2
      .text
        = @restaurants.last.name
        = @restaurants.last.address

