%html
  %head
    %title Restaurants
    = stylesheet_link_tag    "restaurants", :media => "all"
    = javascript_include_tag "restaurants"
    = csrf_meta_tags
  %body
    %div.treasure1
      %div.text
        = restaurant_name
        %br
        = restaurant_address
    %div.treasure2
      %div.text
        = r2.name
        %br
        = r2.address
        %br
        = r2.url
    %div.treasure3
      %div.text
        = restaurant_name
        %br
        = restaurant_address