:ruby
  r = ActiveSupport::JSON.decode("{\"restaurants\": [{ \"name\":\"Taco Truck\" , \"address\":\"123 Blue Street\" }]}")
  restaurant_name = r["restaurants"][0]["name"]
  restaurant_address = r["restaurants"][0]["address"]
  r2 = Restaurant.new({:name => "Papito", :address => "Potrero Hill", :url => "foo.com"})
  
!!!
%html
  %head
    %title Restaurants
    = stylesheet_link_tag    "restaurants", :media => "all"
    = javascript_include_tag "restaurants"
    = csrf_meta_tags
  %body
    .treasure1
      .text
        = r2.name
        = r2.address
        = r2.url
    .treasure2
      .text
        = restaurant_name
        = restaurant_address